<h2>Register</h2>

<form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm.value)">
  <table>
    <tr>
      <td><label>First Name:</label></td>
      <td><input type="text" name="firstName" ngModel required minlength="3" maxlength="8" /></td>
    </tr>
    <tr>
      <td><label>Last Name:</label></td>
      <td><input type="text" name="lastName" ngModel /></td>
    </tr>
    <tr>
      <td><label>Email:</label></td>
      <td><input type="email" name="email" ngModel required /></td>
    </tr>
    <tr>
      <td><label>Password:</label></td>
      <td><input type="password" name="password" ngModel required minlength="6" /></td>
    </tr>
    <tr>
      <td><label>Birth Date:</label></td>
      <td><input type="date" name="birthDate" ngModel required /></td>
    </tr>
    <tr>
      <td><label>Age:</label></td>
      <td><input type="number" name="age" ngModel required /></td>
    </tr>
    <tr>
      <td><label>Phone No:</label></td>
      <td><input type="text" name="phoneNo" ngModel required pattern="[0-9]{10}" /></td>
    </tr>
    <tr>
      <td><label>Location:</label></td>
      <td>
        <select name="location" ngModel required>
          <option value="">-- Select --</option>
          <option>Pune</option>
          <option>Mumbai</option>
          <option>Bangalore</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label>Membership:</label></td>
      <td>
        <label><input type="radio" name="memberShip" ngModel value="gold" required /> Gold</label><br />
        <label><input type="radio" name="memberShip" ngModel value="silver" /> Silver</label><br />
        <label><input type="radio" name="memberShip" ngModel value="platinum" /> Platinum</label>
      </td>
    </tr>
    <tr>
      <td><label>Status:</label></td>
      <td><input type="checkbox" name="isRegistered" ngModel /> Is Registered</td>
    </tr>
    <tr>
      <td><label>Source of Information:</label></td>
      <td>
        <select multiple name="social" ngModel>
          <option>Facebook</option>
          <option>Instagram</option>
          <option>Twitter</option>
          <option>LinkedIn</option>
        </select>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center;">
        <button type="submit" [disabled]="registerForm.invalid">Register</button>
      </td>
    </tr>
  </table>
</form>

<p class="success" *ngIf="successMessage">{{ successMessage }}</p>
